$primary-color: #ffffff;

$background-color: #fafafa;

$inactive-action-btn-color: #b2dffc;

$border-color: #dbdbdb;

$secondary-text-color: #aeaeae;

$link-color: #170cb4;

$footer-font-size: 12px;

$btn-border-radius: 3px;

$primary-font: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
