@use "../1-base/base-index" as v;

.footer {
  background-color: v.$background-color;

  font-size: v.$footer-font-size;
  font-family: v.$primary-font;

  height: 60px;
  padding: 0 50px 20px 50px;

  .footer__menu {
    list-style-type: none;

    //display: flex;

    //justify-content: space-between;

    width: 60%;
    color: rgb(40, 40, 117);
    padding: 10px;
    flex-wrap: wrap;
    font-weight: bold;
  }

  .footer__copyright {
    width: 40%;
    color: v.$secondary-text-color;
  }
}
